// Colors
$bastille: #291f2b;
$malibu: #73bff7;
$peru: #C49744;
$nebula: #333738;
$roman: #745A4C;
$ghost: #C0C3CD;
$rose: #D4BBB4;
$havelock: #3C82D4;
$miller: #136AC2;
$holden: #73BFF7;

// Typography
$modularscale: (
	base: 1em,
	ratio: $augmented-fourth
);

